[Desktop Entry]
Name=sapling-gui
Icon=sapling-gui
Type=Application
Categories=Development
Exec=env LD_LIBRARY_PATH=/usr/local/lib sapling-gui
StartupNotify=false
Terminal=false
